.flex-row {
    display: flex;
    align-items: center;
}

ul li:nth-child(even) {
    background: #EEE;
}

.success {
    background: lightgreen;
    border: 1px solid green;
}

.failed {
    background: pink;
    border: 1px solid red;
}

.error-msg {
    color: red;
}

ul {
    margin: 0 auto;
    width: 650px;
    padding: 0;
    list-style: none;
}

.api-name {
    width: 110px;
    padding-left: 5px;
}

.api-status {
    width: 60px;
    text-align: center;
    margin-right: 30px;
}

.api-message {
    width: 100px;
}

.api-hostname {
    width: 225px;
}

.api-time {
    width: 115px;
}